@charset "utf-8";
/* CSS Document */
.thune{
	width: 1199px;
	margin: auto;
}
.dau{
	width: 1199px;
	height: 370px;
	position: relative;
}
back img {
	width: 1199px;
    height: 388px;
    position: absolute;
    z-index: 1;
    /* padding-top: 0px; */
    top: 0px;
    left: 0px;
    /* transition: 2.4s; */
    animation: zoolen 10s forwards;
    margin-bottom: 41px;
}
come img {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 50%;
    font-size: 40px;
    font-family: tahoma;
    padding-top: 19px;
    color: white;
    text-align: center;
    width: 112px;
    height: 89px;
    margIn-left: -287px;
    opacity: 0;
    animation: divao 1s forwards;
	animation-delay: 1s;}
.ten {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-family: tahoma;
    color: white;
    text-align: center;
    padding-top: 36px;
    width: 700px;
    height: 90px;
    margin-left: -327px;
    opacity: 0;
    animation: divao 1s forwards;
	animation-delay: 1s;}
.giua {
    position: relative;
    width: 1201px;
    height: 43px;
    color: white;
    background-color: red;
    font-size: 33px;
    display: block;
    margin-top: 18px;
    /* margin-bottom: 52px; */
    }
.mauchu {
    /* position: absolute; */
    padding: 4px -23px;
    margin-left: 112px;
    /* display: inline-block; */
    width: 965px;
    height: 43px;
	font-weight: bold;}



@-webkit-keyframes zoolen{
	from {transform:scale(0.78);}
	to {transform:scale(1);}
}
@-webkit-keyframes divao{
	from {top: 40%;opacity: 0; }
	to {top: 50%; opacity: 1;}
}
.layer1{
	width: 145px;
	height: 200px;
	float: left;
	margin-right: 13px;
}
w a{margin-left: 21px;font-size: 26px;text-decoration: none;}

r a{margin-left: 21px;font-size: 26px;text-decoration: none;}
d a{margin-left: 21px;font-size: 26px;text-decoration: none;}
l a{margin-left: 21px;font-size: 26px;text-decoration: none;}
k a{
	margin-left: 21px;
	font-size: 26px;
	text-decoration: none;
	/* top: 12px; */
	/* position: absolute; */
}
e a {
    font-size: 26px;
	text-decoration: none;
	
}

e:hover{
 border-bottom: 2px solid gray;
	transition: 0.2s;
}
w:hover{
 border-bottom: 2px solid gray;
	transition: 0.2s;
}
r:hover{
  border-bottom: 2px solid gray;
	transition: 0.2s;
}
d:hover{
 border-bottom: 2px solid gray;
	transition: 0.2s;
}
l:hover{
  border-bottom: 2px solid gray;
	transition: 0.2s;
}
k a{
	
	font-size: 26px;
	text-decoration: none;

}
k:hover{
 border-bottom: 2px solid gray;
	transition: 0.2s;
}
.yeu {
    width: 716px;
    margin-bottom: 43px;
    margin-top: 28px;
    
    border: 3px solid gray;
    /* margin: auto; */
    position: relative;
    top: 27px;
    left: 379px;
}
.ten-yeu {
    width: 716px;
    height: 31px;
    background: beige;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: baseline;
    position: relative;
    flex-direction: column;
    /* padding: 21px; */
    text-align: -webkit-center;
}

h5 a {
    text-decoration: none;
    position: absolute;
    top: 0px;
    font-size: 22px;
    /* font-family: monospace; */
    width: 254px;
    display: block;
    left: 296px;
}

h4 a {
    text-decoration: none;
    position: absolute;
    font-size: 22px;
    width: 143px;
    top: 0px;
    display: block;
    left: 185px;
}

h3 a {
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 107px;
    font-size: 22px;
    width: 64px;
    display: block;
    display: flex;
}
h6 a{
	  text-decoration: none;
    position: absolute;
    font-size: 22px;
    width: 143px;
    top: 0px;
    display: block;
    left: 185px;
}
.bao{
	padding-left: 21px;
}
.tacgia{
	text-align: center;
}
.phancuoi {
    width: 1324px;
    height: 403px;
    /* margin-top: 6px; */
    /* position: absolute; */
    /* display: flex; */
    display: block;
    margin: auto;
}
.mau{
	margin-top: 40px;
	position: relative;
	width: 1255px;
	height: 354px;
	background-image: url(img/q.jpg);
	/* background: red; */
	margin-bottom: 1px;
	display: block;
}
.logo img {
    width: 89px;
    height: 65px;
    top: 0px;
    left: 18px;
}
.tenwweb {
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 81px;
    margin-top: 21px;
    color: white;
	font-family: 'Pacifico', cursive;
}
.gioithieu {
    font-size: 18px;
    padding: 26px 12px;
    width: 225px;
    height: 194px;
    margin-left: 25px;
    color: white;
    float: left;
}
mau {
    color: black;
    font-weight: bold;
}
.Quicklink {
    position: absolute;
    top: 0px;
    left: 264px;
    width: 211px;
    height: 356px;
}
.Quicklink h1 {
    color: white;
    font-size: 25px;
    width: 130px;
    height: 37px;
    margin-top: 21px;
    margin-left: 46px;
    margin-bottom: 23px;
}
.Quicklink h2 a {
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    /* margin-top: 31px; */
    /* margin-bottom: 26px; */
    text-decoration: none;
    width: 193px;
    height: 43px;
    display: contents;
}


.Quicklink h3 a{
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    /* margin-top: 21px; */
    /* margin-bottom: 21px; */
    text-decoration: none;
    width: 193px;
    height: 43px;
    display: contents;
}
.Quicklink h4 a{
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    margin-bottom: 21px;
    text-decoration: none;
    width: 193px;
    height: 25px;
    display: contents;
	
}
.Quicklink h5 a {
    font-family: sans-serif;
    font-size: 19px;
    color: white;
    margin-bottom: 21px;
    text-decoration: none;
    display: contents;
    width: 193px;
    height: 22px;
    display: contents;
}
.Quicklink h6 a{
     font-family: sans-serif;
    font-size: 19px;
    color: white;
    margin-bottom: 21px;
    text-decoration: none;
    display: contents;
    width: 193px;
    height: 22px;
    display: contents;
}
.Quicklink h7 a{
	  font-family: sans-serif;
	  font-size: 19px;
	  color: white;
	  margin-bottom: 21px;
	  text-decoration: none;
	  /* display: contents; */
	  width: 193px;
	  height: 22px;
	  /* display: contents; */
}
.bon{
	width: 279px;
	height: 208px;
	margin: auto;
}
.bon img{
	width: 278px;
	height: 208px;
}
.boclai{
	
width: 190px;
	
margin-left: 21px;
	
text-align: center;
	
display: flex;
	
flex-direction: column;
	
height: 276px;
	
display: block;
}
.Tagcloud {
    width: 202px;
    height: 310px;
    position: relative;
    /* margin-left: 532px; */
    margin: auto;
}
.Tagcloud h1  {
    color: white;
    /* height: 310px; */
    /* width: 202px; */
    position: absolute;
    bottom: 330px;
    left: 32px;
    font-size: 30px;
}
.Tagcloud h2 a {
    margin-bottom: 21px;
    font-size: 25px;
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
	display: block;
    box-sizing:border-box;
    text-decoration: none;
}
.Tagcloud h2 a:hover{
	background:orange;
	color: white;
}
.Tagcloud h3 a {
    font-size: 21px;
    background: #eee;
    /* margin-top: 57px; */
    /* margin-bottom: 21px; */
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
    display: block;
    top: 1px;
    position: absolute;
    display: block;
    box-sizing:border-box;
    text-decoration: none;
    text-align: center;
    left: 74px;
}
.Tagcloud h3 a:hover{
	background:orange;
	color: white;
}

.Tagcloud h4 a {
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    /* margin-top: 31px; */
    /* margin-bottom: 31px; */
    width: 75px;
    height: 34px;
    top: 66px;
    left: 73px;
    box-sizing:border-box;
    position: absolute;
    text-decoration: none;
    display: -webkit-inline-box;
}
.Tagcloud h4 a:hover{
	background:orange;
	color: white;
}

.Tagcloud h5 a {
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
    box-sizing:border-box;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 126px;
    left: 74px;
}
.Tagcloud h5 a:hover{
	background:orange;
	color: white;
}
.tom {
    /* position: absolute; */
    /* text-align: center; */
    /* margin-left: 532px; */
    /* margin-top: 29px; */
    /* width: 222px; */
    /* height: 200px; */
    /* display: block; */
    /* position: relative; */
}
.sociallink h5 a {
    font-size: 21px;
    width: 136px;
    height: 50px;
    display: table-row;
    text-decoration: none;
    color: black;
    /* display: contents; */
    display: block;
    top: 197px;
    left: 1px;
}
.be{
	margin-right: 21px;
	color: #3c3a38;
}
.sociallink h4 a {
    font-size: 21px;
    /* margin-bottom: 21px; */
    width: 139px;
    height: 50px;
    text-decoration: none;
    /* display: contents; */
    display: block;
    top: 140px;
    left: -3px;
	color: black;
}

.sociallink h3 a {
    font-size: 21px;
    /* margin-bottom: 21px; */
    width: 160px;
    height: 50px;
    /* display: contents; */
    text-decoration: none;
    color: black;
    top: 88px;
    position: absolute;
    left: 0px;
}

.sociallink h2 a {
    font-size: 24px;
    margin-bottom: 21px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: table-row;
    color: black;
}

.sociallink h1 {
    color: white;
}

.sociallink {
    width: 202px;
    height: 310px;
    position: relative;
    /* margin-left: 900px; */
    top: -405px;
    right: -315px;
    margin: auto;
}
.tat{
	  position: absolute;
	  text-align: center;
	  margin-left: 1px;
	  /* margin-top: 60px; */
	  /* margin-bottom: 22px; */
	  /* width: 162px; */
	  /* height: 200px; */
	  display: flex;
	  flex-direction: column;
}