@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;}

.article {
    min-height: 1000px;
    width: 59%;
    float: left;
}
.container .nav {
  color: white;
  background-color: red;
  font-size: 29px;
  line-height: 41px;
  text-align: center;
  position: relative;
  }
.container .footer {
   line-height: 26px;
   position: relative;
   display: flex;
   clear: both;
}
.container .aside ul{
	list-style: none;
    left: -20px;
    position: relative;
}
.container{
	max-width: 1056px;
	margin: auto;
	
}
.container .header{
	width: 100%;
	height: 32%;
	z-index: 1;
	animation: zoolen 10s forwards;
	background-image: url(../img/anhhinh.jpg);
	background-size: 119% 100%;
	padding-bottom: 30%;
}
  
.container .header come img {
    position: absolute;
    z-index: 3;
    left: 29%;
    top: 26%;
    font-size: 40px;
    font-family: tahoma;
    padding-top: 19px;
    color: white;
    text-align: center;
    width: 112px;
    height: 86px;
    margin-top: -63px;
    opacity: 0;
    animation: divao 1s forwards;
    animation-delay: 1s;
    }
.container .aside a{
	    background: url(../img/anh.jpg) no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 15px 10px 15px 45px;
}
icando ul {
    padding-left: 65px;
}

icando img {
  
width: 54%;
  
height: 50%;
  
padding-left: 74px;
  
/* padding: 67px; */
}

icando {
    width: 383px;
    float: left;
    background: #fff;
    border: 2px solid gray;
    position: relative;
    margin-top: 35px;
}

b {}

text13 {
    font-size: 20px;
    text-align: center;
    padding-left: 13px;
}

text13 b {
    padding-left: 25px;
    font-size: 23px;
}

.text12 {
    text-align: justify;
    padding: 7px;
}

cothebanthich h5 {
    font-size: 22px;
    width: 387px;
    height: 43px;
    background: gold;
    color: white;
    text-align: center;
    padding: -1px;
    padding-top: 21px;
}
.hinhtrai img{
	width: 91%;
	height: 50%;
	padding: 14px;
}
h3 {
    font-size: 23px;
}

form.formdangnhap {
    border: 2px solid darkslategray;
    margin-left: 30px;
    padding-left: 55px;
}

phanchu ul {
    margin-left: 21px;
    text-align: justify;
    padding: 13px;
}

a {
    text-decoration: none;
    color: brown;  
}
.ong-to {
    width: 632px;
    text-align: center;
    margin: auto;
}
.phangiua{height: 476px;width: 616px;margin-bottom: 18px;border: 3px solid #E91E63;position: relative;top: 27px;}
aside{
	min-height: 1000px;
	width: 37%;
	float: right;
	position: relative;
	top: 27px;
}
article{
	min-height: 1000px;
	width: 59%;
	float: left;
}
 .aside{
	min-height: 400px;
	width: 47%;
	float: left;
}


.ten-yeu {
    width: 100%;
    height: 34px;
    background: #E91E63;
    text-align: center;
    font-size: 30px;
    color: white;
}

.chu-yeu {
    width: 145px;
    height: 28px;
    text-align: center;
}

.hinh-yeu img {
    width: 145px;
    height: 145px;
    margin-top: 21px; 
    margin-right: 13px;   
    transition: 0.4s;
}
.hinh-yeu :hover{
	position: relative;
	bottom: 2px;
	transition: 0.4s;
	
}
.yeu {
    width: 716px;
    margin-bottom: 43px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    height: 472px;
    border: 3px solid #E91E63;
    position: relative;
    top: 27px;
}

.ten {
    position: absolute;
    z-index: 2;
    /* top: 68%; */
    bottom: 21;
    left: 56%;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-top: 21px;
    text-align: center;
    padding-top: 82px;
    width: 700px;
    height: 90px;
    margin-top: -118px;
    margin-left: -297px;
    opacity: 0;
    animation: divao 1s forwards;
    animation-delay: 1s;
    }

.nav ul{
	list-style: none;
	width: 80%;
	height: 43px;
	display: flex;
	justify-content: end;
}
.nav ul li a {	
text-align: center;	
float: left;	
font-size: 26px;	
color: white;	
text-decoration: none;	
padding: 0 15px;
}
.nav ul li a:hover{
	background-color: #cd2317;
    display: inline-block;
    border: 1px solid gray;
}
@-webkit-keyframes zoolen{
	from {transform:scale(0.78);}
	to {transform:scale(1);}
}
@-webkit-keyframes divao{
	from {top: 40%;opacity: 0; }
	to {top: 50%; opacity: 1;}
}
.layer1{
	width: 140px;
	height: 198px;
	float: left;
	margin-right: 13px;
}

.mau{
	margin-top: 40px;
	position: relative;
	width: 100%;
	height: 355px;
	background-image: url(../img/anhhinh.jpg);
	margin-bottom: 1px;
	display: block;
	background-size:100%;
}
.logo img {
    width: 89px;
    height: 65px;
    top: 0px;
    left: 18px;
}
.tenwweb {
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 81px;
    margin-top: 21px;
    color: white;
	font-family: 'Pacifico', cursive;
}
.gioithieu {
    font-size: 18px;
    padding: 26px 12px;
    width: 225px;
    height: 194px;
    margin-left: 25px;
    color: white;
    float: left;
}
mau {
    color: black;
    font-weight: bold;
}
.Quicklink {
    position: absolute;
    top: 0px;
    left: 264px;
    width: 211px;
    height: 356px;
}
.Quicklink h1 {
    color: white;
    font-size: 25px;
    width: 130px;
    height: 37px;
    margin-top: 21px;
    margin-left: 46px;
    margin-bottom: 23px;
}
.Quicklink h2 a {
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    text-decoration: none;
    width: 193px;
    height: 43px;
    display: block;
}


.Quicklink h3 a{
    font-family: sans-serif;
    font-size: 21px;
    color: white; 
    text-decoration: none;
    width: 193px;
    height: 43px;
    display: block;
}
.Quicklink h4 a{
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    margin-bottom: 21px;
    text-decoration: none;
    width: 193px;
    height: 25px;
    display: block;
}
.Quicklink h5 a {
    font-family: sans-serif;
    font-size: 19px;
    color: white;
    margin-bottom: 21px;
    text-decoration: none;
    display: block;
    width: 193px;
    height: 22px;
}
.Quicklink h6 a{
    font-family: sans-serif;
    font-size: 21px;
    color: white;
	text-decoration: none;
}
.boclai{
	
margin-left: 21px;	
text-align: center;	
display: flex;	
flex-direction: column;
}
.Tagcloud {
    width: 202px;
    height: 310px;
    position: relative;
    margin-left: 532px;
}
.Tagcloud h1  {
    color: white;
    position: absolute;
    top: -49px;
    left: 32px;
    font-size: 30px;
}
.Tagcloud h2 a {
    margin-bottom: 21px;
    font-size: 25px;
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
	display: block;
    box-sizing:border-box;
    text-decoration: none;
}
.Tagcloud h2 a:hover{
	background:orange;
	color: white;
}
.Tagcloud h3 a {
    font-size: 21px;
    background: #eee;
    margin-top: 57px;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
    display: -webkit-inline-box;
    box-sizing:border-box;
    text-decoration: none;
}
.Tagcloud h3 a:hover{
	background:orange;
	color: white;
}

.Tagcloud h4 a {
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    margin-top: 31px;
    margin-bottom: 31px;
    width: 75px;
    height: 34px;
    box-sizing:border-box;
    text-decoration: none;
    display: -webkit-inline-box;
}
.Tagcloud h4 a:hover{
	background:orange;
	color: white;
}

.Tagcloud h5 a {
    font-size: 21px;
    background: #eee;
    color: #414141;
    padding: 7px 2px;
    transition:0.5s;
    width: 75px;
    height: 34px;
    box-sizing:border-box;
    text-decoration: none;
    display: -webkit-inline-box;
}
.Tagcloud h5 a:hover{
	background:orange;
	color: white;
}
.tom {
    text-align: center;
    width: 222px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.sociallink h5 a {
    font-size: 21px;
    width: 50px;
    height: 50px;
    display: table-row;
    text-decoration: none;

    color: black;
}
.be{
	margin-right: 21px;
	color: #3c3a38;
}
.sociallink h4 a {
    font-size: 21px;
    margin-bottom: 21px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    display: table-row;
    color: black;
}

.sociallink h3 a {
    font-size: 21px;
    margin-bottom: 21px;
    width: 50px;
    height: 50px;
    display: table-row;
    text-decoration: none;
    color: black;
}

.sociallink h2 a {
    font-size: 24px;
    margin-bottom: 21px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: table-row;
    color: black;
}

.sociallink h1 {
    color: white;
}

.sociallink {
    width: 202px;
    height: 310px;
    position: relative;
    margin-left: 859px;
    top: -359px;
}
.tat{
	  position: absolute;
	  margin-left: 1px;
	  margin-top: 60px;
	  width: 162px;
	  height: 200px;
	  display: flex;
	  flex-direction: column;
}
.box{position: absolute;top: 128%;left: 67%;width: 184px;transform: translate(-50px,-50px);}
input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	
}
input[type="text"]{
	position: absolute;
	background: #fff;
	width: 87%;
	height: 34px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 21px 0 0 0px;
	top: 10%;
	left: 61%;
}
input[type="submit"]{
	position: absolute;
	top: -1px;
	left: 175%;
	border-radius: 0px 0px 0px 0px;
	height: 36px;
	width: 35%;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ffc107;
	color: #fff;
}input[type="submit"]:hover{
	background: #ff5722;
}

cothebanthich{
	width: 387px;
	float: left;
	background: #fff;
	border: 2px solid gray;
	position: relative;
	/* margin-top: 35px; */
}